ACTION=="add|change", KERNEL=="null|zero|full|ptmx|tty|random|urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add|change", KERNEL=="hw_random", OWNER="root", GROUP="system", MODE="0400"
ACTION=="add|change", KERNEL=="ashmem*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add|change", KERNEL=="binder|hwbinder|vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add|change", KERNEL=="pmsg0", OWNER="root", GROUP="system", MODE="0222"
ACTION=="add|change", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add|change", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="ttyGS*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="mali*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="ion*", OWNER="system", GROUP="android_graphics", MODE="0666"
ACTION=="add|change", KERNEL=="ump", OWNER="system", GROUP="android_graphics", MODE="0666"
ACTION=="add|change", KERNEL=="kgsl*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="exynos-mem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="g2d", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="fimg2d", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="dri/*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="graphics/*", OWNER="root", GROUP="android_graphics", MODE="0660"
ACTION=="add|change", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", SUBSYSTEM=="dma_heap", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="dma_heap/camera*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="dma_heap/crypto*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="dma_heap/system*", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add|change", KERNEL=="dma_heap/secure_camera-secure", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="dma_heap/system-secure-gpu_buffer-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add|change", KERNEL=="dma_heap/system-secure-vstream-secure", OWNER="system", GROUP="system", MODE="0444"
ACTION=="add|change", KERNEL=="dma_heap/vframe-secure", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="dma_heap/vscaler-secure", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="video*", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="media*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="v4l-subdev*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="m2m1shot*", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="is_tuning*", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="vertex*", OWNER="root", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="dmabuf_container", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="dmabuf_trace", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="dsp", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add|change", KERNEL=="hdcp2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", SUBSYSTEM=="input", OWNER="root", GROUP="input", MODE="0666"
ACTION=="add|change", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0666"
ACTION=="add|change", KERNEL=="event*", OWNER="root", GROUP="input", MODE="0666", ATTR{power/control}="on"
ACTION=="add|change", KERNEL=="v4l-touch*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add|change", KERNEL=="uhid|uinput", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add|change", KERNEL=="shub_*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="iio:device*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add|change", SUBSYSTEM=="spi", KERNEL=="spi3.0", ATTR{power/control}="on"
ACTION=="add|change", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add|change", KERNEL=="seiren", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add|change", KERNEL=="vts_fio_dev", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="block/by-name/radio", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="block/by-name/modem*", OWNER="root", GROUP="radio", MODE="0440"
ACTION=="add|change", KERNEL=="block/by-name/cp_debug", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="umts*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="umts_atc0|umts_dm0|umts_router|ramdump_memshare", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="umts_ciq*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="umts_csd", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="drb|smd*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="dit2", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="rmnet*", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="usnet*", OWNER="root", GROUP="radio", MODE="0660"
ACTION=="add|change", KERNEL=="wlan*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="mx_0_*|mx140_usb_clk_test_0|mx_client_test_0|scsc_*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="scsc_h4_0", OWNER="root", GROUP="bluetooth", MODE="0660"
ACTION=="add|change", KERNEL=="tzdev|tziwsock", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add|change", KERNEL=="tziwshmem|tzirs|tuihw|s5p-smem|ssp|camellia_iwc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="proca_config", OWNER="system", GROUP="system", MODE="0440"
ACTION=="add|change", KERNEL=="block/by-name/param", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="block/by-name/persistent|steady", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="block/by-name/persist", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add|change", KERNEL=="bus/usb/*|usb_accessory", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="mtp_usb", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="tun", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="ppp", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add|change", KERNEL=="kvm|vhost-vsock", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add|change", KERNEL=="gnss_ipc", OWNER="root", GROUP="gps", MODE="0660"
ACTION=="add|change", KERNEL=="gnss*", OWNER="root", GROUP="gps", MODE="0660"
ACTION=="add|change", KERNEL=="pn547", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add|change", KERNEL=="sec-nfc", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add|change", KERNEL=="st21nfc", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add|change", KERNEL=="p3", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add|change", KERNEL=="p61", OWNER="root", GROUP="root", MODE="0660"
ACTION=="add|change", KERNEL=="st54spi", OWNER="root", GROUP="root", MODE="0660"
# Fix Samsung Galaxy M14 5G Rear Flashlight permissions for Lomiri/Phablet
# Reference commit: https://gitlab.com/ubports/porting/reference-device-ports/android10/volla-phone-x/volla-yggdrasilx/-/commit/fe0c020f62817de61537799433c5f33007bcedd7
ACTION=="add|change", SUBSYSTEM=="platform|virtual", RUN+="/bin/chgrp phablet /sys/devices/virtual/camera/flash/rear_flash"
ACTION=="add|change", SUBSYSTEM=="platform|virtual", RUN+="/bin/chmod g+w /sys/devices/virtual/camera/flash/rear_flash"
